<!-- Header Starts -->
<header>
    <nav>
        <div class="nav__signinRegister" *ngIf="isMediumLargeScreen">
            <ul *ngIf="isMediumLargeScreen">
                <li (click)="closeCart()"> <a routerLink="/signin" routerLinkActive="active">SignIn</a>
                </li>
                <li (click)="closeCart()"> <a routerLink="/register" routerLinkActive="active">Register</a>
                </li>
            </ul>
        </div>
        <div class="nav__container">
            <a routerLink="/home" routerLinkActive="active">
                <img srcset="../../assets/static/images/logo.png  1x, ../../assets/static/images/logo_2x.png  2x"
                    class="nav__container__logo" src="../../assets/static/images/logo.png" alt="Sabka Bazar Logo"
                    (click)="closeCart()">
            </a>
            <ul *ngIf="isMediumLargeScreen">
                <li (click)="closeCart()"> <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li (click)="closeCart()"> <a [routerLink]="['/products','']" routerLinkActive="active">Products</a>
                </li>
            </ul>
            <app-button classList="btn-transparent" class="hamburger_container" (click)="toggleMobileMenu()"
                *ngIf="isSmallScreen">
                <i class="fa fa-bars nav__container__hamburger"></i>
            </app-button>
            <!-- <div class="nav__container__cart"> -->
            <app-button classList="btn-grey" (click)="toggleCart()">
                <img src="../../assets/static/images/cart.svg" alt="cart icon" class="nav__container__cartImg"
                    aria-hidden="true">
                <span>{{cartItemCount}} items</span>
            </app-button>
            <!-- </div> -->
        </div>
    </nav>
    <ul class="mobile__menu" (click)="toggleMobileMenu()" *ngIf="showMobileMenu">
        <li (click)="closeCart()"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li (click)="closeCart()"><a [routerLink]="['/products','']" routerLinkActive="active">Products</a></li>
        <li (click)="closeCart()"><a routerLink="/signin" routerLinkActive="active">SignIn</a></li>
        <li (click)="closeCart()"><a routerLink="/register" class="mr-1" routerLinkActive="active">Register</a>
        </li>
    </ul>

</header>
<!-- Header Ends -->
<section *ngIf="showCart">
    <app-cart (closeCart)="toggleCart()"></app-cart>
</section>