$medium-Screen-Size: 768px;
$large-Screen-Size: 992px;

$font-color-main: rgb(85, 85, 85);
$font-color-white: rgb(255, 255, 255);
$font-color-black: rgb(0, 0, 0);

$background-color-white: rgb(255, 255, 255);
$background-color-black: rgb(0, 0, 0);
$main-background: rgb(238, 238, 238);
$background-modal-large-screen: rgba(0, 0, 0, 0.4);

$box-shadow-color: rgb(231, 231, 231);

$button-main: rgb(209, 1, 87);
$button-main-hover: rgb(167, 1, 71);
$carousel-button: rgb(113, 113, 113);
$carousel-button-hover: rgba(0, 0, 0, 0.8);

$button-main-color: rgb(255, 255, 255);

$input-color: rgb(198, 198, 198);
$input-color-focus: rgb(47, 185, 198);

$error: rgb(255, 0, 0);

$hamburger-icon-color: rgba(0, 0, 0, 0.5);
$hamburger-icon-borber: rgba(0, 0, 0, 0.1);

$side-nav-li-border: rgb(199, 199, 199);
